@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffff;
  height: 100%;
  overflow: hidden
}

.home-page-container{
    height: 100%;
    display: flex;
    background-color: gray;
}

.home-page-children{
width: 100%;
height: 100vh;
padding-top: 3rem;
background-color: #ffff;
margin: auto;
}

.flex-basis-29{
  flex-basis: 29%;
}
.flex-basis-40{
  flex-basis: 40%;
}

.home-page-sidebar-container{
float: right;
 width: 70%;
 height: 100vh;
 margin-top: 60px;
}
.card {
    padding: 5x;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color:white;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .header span{
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
  }
  .header div{
    margin-left: 20%;
    cursor: pointer;
  }

  .btn{
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border-color: transparent;
    border-radius: 5px;
    margin: 0 5px;
    min-width: 95px;
    background-color: red;
    }

  .bill-splitter-btn{
  float: right;
  }

  .btn-wrapper{
 background-color: rgb(173, 166, 166);
 padding: 30px;
 height: 100px;
  }
  .home-page-profile-details-container{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 307px;
    padding: 9px 5px 6px 68px;
    position: relative;
  }

  .date{
    float: left;
    margin: 0;
   flex-basis: 10%;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: normal;
     margin: auto;
  }
  .number{
    font-size: 20px;
    margin-top: -3px;
font-weight: bold;
  }
  .title{
    font-size: 16px;
    flex-basis: 80%;
    font-weight: bold;
    margin: auto;
    margin-left: 30px;
    text-align:start;
  }
  .bill-split-item-you-amount{
    display: flex;
    flex-basis: 45%;
  }
  .bill-split-item-lent-paid{
    text-align: right;
    padding: 11px 10px 12px 5px;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    color: #aaa;
    cursor: pointer;
    flex-basis: 50%;
  }
  .bill-split-item-lent-paid span{
    margin-top: 3px;
    font-weight: bold;
    color: black;
  }


  // .bill-split-item-you-lent{
  //   text-align: right;
  //   padding: 11px 10px 12px 5px;
  //   font-size: 12px;
  //   line-height: 15px;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   display: inline-block;
  //   vertical-align: top;
  //   color: #aaa;
  //   cursor: pointer;
  //   flex-basis: 50%;
  // }
  .bill-split-item-main-block{
    flex-basis: 45%;
    display: flex;
    margin-left: 10px;
  }

  .bill-split-container{
    margin: 10px;
    height: 70vh;
    padding-bottom: 3vh;
    overflow-y: scroll;
  }
  .bill-split-item-container{
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0.12, 0.12, 0.12, 0.42);
    margin-bottom: 5px;
    display: flex;
    background-color: white;
    cursor: pointer;
  }
  .bill-split-item-container:nth-child(even) {
    background-color: #D6EEEE;
  }

  .home-page-sidebar-option{
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0.12, 0.12, 0.12, 0.52);
    text-align: left;
    cursor: pointer;
  }

  // .add-bill-form-container{
  //   display: flex;
  //   background-color: #ffffff;
  //   padding-top: 5rem;
  //   height: 80vh;
  // }

  .add-bill-form-border{
    border: 2px dashed #2E3F51;
    margin: auto;
    width: 70%;
  // margin-left: 3rem;
  // margin-right: 3rem;
  margin-top: 40px;
  padding: 30px;
  }
  .add-bill-form-friends{
overflow-y: scroll;
max-height: 300px;
padding: 20px;
background-color: #2E3F51;
margin-bottom: 30px;
  }

  .add-bill-form-container-form{
    text-align: center;
    font-size: large;
    margin-top: 10px;
  }
  // .add-bill-form-container-form{
  // height: fit-content;
  // padding: 30px;
  // box-sizing: border-box;
  // }
  .add-bill-form-container-form input{
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: larger;
    color: black;
    border-bottom: 1px dashed red !important;
  }

  .authentication-container input[type=text],input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: red;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
}
  // input[type=number]{
  //   width: 40%;
  //   display: inline-block;
  //   border: none;
  //   margin-left: 10%;
  //   margin-bottom: 30px;
  //   border-radius: 10px;
  //   text-align: center;
  //   font-size: larger;
  //   color: black;
  //   border-bottom: 1px dashed #ccc !important;
  // }

  // input::placeholder {
  //   text-align: center;
  //   font-size: larger;
  //   color: black;
  // }

  .add-bill-form-btn-container{
  text-align: center;
  margin-bottom: 30px;
  }

  .authentication-container{
    width:35%;
    margin:auto;
    margin-top: 5rem;
  }
  .dashboard-container{
    display: flex;
    // margin-top: 5rem
  }

  .dashboard-children-container{
    flex-basis: 48;
    width: 100%;
    padding: 10px;
    }
    .dashboard-children-container-message{
      margin-top: 50px;
      font-style: italic;
      font-weight: bolder;
    }
  .dashboard-summary{
    padding: 60px;
  color: #ffffff;
    background-color: gray;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 25%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .full-blurred-background{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
  }

  .signin{
  padding: 20px;
  text-align: center;
  }

  .avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;

    /* Used to position the content */
    position: relative;

    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    /* Rounded border */
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}
.friend-item{
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  width:80%;
  display: flex;
}
.friend-item-in-form{
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  max-height: 40px;
  width:80%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
.friend-item-in-form label{
margin-left: 30px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-friend-form{
  background-color: gray;
  padding: 20px 0 20px 0;
}

.add-friend-form input[type=text] {
  padding: 15px;
  border: none;
  font-size: 17px;
  margin-left: 10%;
  width: 50%;
  border: 2px solid red;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px dashed #178282;
}

th, td {
  text-align: left;
  padding: 10px;
}
th{
  background-color: #178282;
  color: white;
}
tr:nth-child(odd) {
  background-color: #D6EEEE;
}
.create-group-form{
  width:60%;
  margin: auto;
}
.create-group-form input{
  width:100%;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: larger;
  color: black;
  border-bottom: 1px dashed red !important;
}
.group-list{
  padding:10px;
  max-height: 230px;
  overflow-y: scroll;
}
.group-item{
  border-bottom: 1px solid darken(rgb(148, 133, 133), 10%);
  padding:10px;
  background-color: #3498db;
  margin-bottom: 3px;
  cursor: pointer; 
}

.group-item:active {
  color: white;
  background: darken(rgb(86, 32, 32), 5%)
}

.group-item-active {
  color: white;
  background: darken(rgb(86, 32, 32), 5%);
  border-bottom: 1px solid darken(rgb(148, 133, 133), 10%);
  padding:10px;
  margin-bottom: 3px;
  cursor: pointer; 
}
.friends-list{
  margin: auto;
   margin-left:10px
}
.friends-list-add{
 font-size: 30px;
 margin: auto;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: #3498db;
}

.bill-created-by{
 flex-basis: 10%;
  margin:auto
}
.friends-list-home{
overflow-y: scroll;
padding-bottom: 40px;
}

.friends-list-home-span{
  font-size: 20px;
  padding: 25px;
  text-align: start;
  font-weight: bolder;
  margin-bottom: 30px;
}
.modal {
  position: fixed;
   display: flex;
align-self: center;
  margin: auto;
  margin-top: 5rem;
  width: fit-content;
  max-width: 64vh;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content{
  padding: 10px 5px 10px 5px;
  width: 100%;
  margin: auto;
}


